@import url('https://fonts.googleapis.com/css2?family=Gentium+Plus:ital,wght@0,400;0,700;1,400;1,700&family=Sen:wght@400;700;800&display=swap');

:root[data-theme="light"] {
    --text: #040316;
    --background: #f0f0f0;
    --primary: #0600bd;
    --secondary: #dddbff;
    --accent: #443dff;
}

:root {
    --text: #eae9fc;
    --text-hover: #bdbbfc;
    --background: #0c1456;
    --background-light: #f0f0f0;
    --primary: #4942ff;
    --secondary: #020024;
    --accent: #0600c2;
}

/* GENERAL STYLES */
.title {
    font: 1.4rem 'Sen', sans-serif;
    font-weight: 600;
}

/* NAVBAR */

/* General navbar styles */
.navbar-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background);
    z-index: 2;
    width: 100%
}

.navbar-normal {
    position: static;
}

.navbar-absolute {
    position: absolute;
}

.navbar {
    height: 70px;
}



.navbar-left {
    margin-left: 35px
}

.navbar-left a {
    text-decoration: none;
    color: var(--text);
    transition: color 0.3s ease;
    font: 1.3rem 'Sen', sans-serif;
    font-weight: 600;
    padding: 0 15px;
}

.logo {
    font-size: 1.8rem !important
}

.navbar-left a:hover {
    color: var(--text-hover);
}

.logo-primary {
    transition: color 0.3s ease;
}

.navbar-left a:hover .logo-primary {
    color: var(--text)
}

.logo-primary {
    color: rgb(100, 141, 255)
}


.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-links {
    list-style: none;
    margin-left: 30px;
    display: flex;
    gap: 15px;
}

.navbar-links li {
    display: inline;
}

.navbar-right {
    display: flex;
    gap: 15px;
}

/* LANDING PAGE MAIN CONTENT */
.landing-wrapper {
    height: 100vh;
    background-color: #f6f6f6;
    background-image: url("/src/assets/utm-background.jpg");
    background-size: cover; /* Makes the image cover the entire parent */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center; /* Centers the image */
}

.landing-wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(97, 97, 97, 0.753); /* Adjust opacity and color as needed */
    z-index: 1; /* Places the overlay above the background */
}

.landing-box {
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centers the box */
    padding: 40px 60px;
    background-color: rgba(221, 221, 221, 0.75); /* Background for the box with some opacity */
    z-index: 2; /* Ensures the box appears above the overlay */
    border-radius: 10px;
    border: 1 solid grey;
    width: 700px;
    text-align: center;
}

/* EVENTS */
.event-wrapper {
    display: flex;
    min-height: 100vh;
    background-color: white;
}

.events-left {
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color: var(--background-light);
    padding: 15px;
    justify-content: flex-start;
    height: 800px
}

.event-column-title {
    width: 100%;
    padding-bottom: 16px;
    color: black;
}

.events-right {
    width: 70%;
    background-color: var(--background-light);
    border-left: 1px solid rgb(228, 228, 228);
    padding: 15px;
}

.event-widget-wrapper {
    margin: 10px 0;
    padding: 10px 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 12px; 
    display: flex;
    align-items: center;
}

.event-widget-content {
    padding: 5px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.event-widget-title {
    font-size: 16px;
    font-weight: bold;
    color: black;
    margin-left: 10px; /* Adjusted this value to move the title left */
}

.event-widget-date {
    font-size: 14px;
    color: gray;
}

.event-widget-description {
    font-size: 12px;
    margin-top: 8px;
    color: black;
}

.event-widget-location {
    font-size: 12px;
    font-style: italic;
    margin-top: 4px;
    color: black;
}

.event-widget-link {
    display: block;
    margin-top: 8px;
    font-size: 12px;
    color: #1976d2;
    text-decoration: none;
}

.scrollable-container {
    max-height: 80%; /* Set a fixed height for the scrolling container */
    overflow-y: auto; /* Enable vertical scrolling */
    padding: 10px; /* Optional: Add padding if needed */
}

.scrollable-container .event-widget-wrapper:last-child {
    margin-bottom: 150px;
}

.event-results {
    color: black;
    margin-top: 10px;
    padding-bottom: 5px;
}

/* MAP STYLES */

.map-wrapper {
    background: white;
    width: 100%;
    height: 82%
}

.map-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: contain
}

.area {
    background-color: red;
    outline-color: red;
}

/* FILTERS */

.filter-wrapper {
    margin: 10px 0;
    padding: 10px 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 12px; 
    display: flex;
    flex-direction: column;
}

.filter-title {
    color: black;
    pointer-events: fill;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

.filter-list {
    color: black;
    margin: 0
}

/* SEARCH STYLES */
.search-container {
    display: flex;
    align-items: center;
    border: 2px solid #ccc;
    border-radius: 25px;
    padding: 5px 10px;
    background-color: #f7f7f7;
    margin: 0 auto;
    width: 95%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.search-input {
    border: none;
    outline: none;
    padding: 8px;
    font-size: 16px;
    flex-grow: 1;
    background-color: transparent;
    color: #333;
    transition: all 0.3s ease;
}

.search-input::placeholder {
    color: #aaa;
}

.search-button {
    background-color: #007bff;
    border: none;
    padding: 8px 15px;
    margin-left: 5px;
    border-radius: 25px;
    cursor: pointer;
    color: black;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.search-button:hover {
    background-color: #0056b3;
}

.search-button:focus {
    outline: none;
}

.input-field {
    background-color: #f7f7f7;
    color: black;
    border: 0;
    padding: 0 5px;
    float: right;
}

.datepicker-wrapper {
    float: right;
}

/* Add this CSS to style the tooltip as a red circle with a white number */
.custom-tooltip {
    background-color: red;
    color: white;
    font-size: 16px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.dropdown {
    margin-top: 5px;
}

.like-button {
    margin-top: 5px
}

.event-widget-time {
    color: black;
}